<h2 align="center">Available Courses</h2>
<div class="row">
  <% @courses.each do |course| %>
   <div class="col s6 s6">
     <div class="card wid blue-grey darken-1">
       <div class="card-content hei white-text">
         <span class="card-title"><%= course.name%></span>
         <p><%= course.description %></p>
       </div>
       <div class="card-action">
         <% if logged_admin? && user_admin.admin? %>
           <%= link_to "Edit", edit_course_path(course) %>
           <%= link_to "Delete", course_path(course), method: :delete, data: { confirm: "Are you sure to delete this course?" } %>
         <% else %>
          <% if logged_in? && !(current_student.courses.include?(course)) %>
           <%= link_to "Enroll", course_enroll_path(course_id: course.id), method: :post %>
          <% else %>
            <% if logged_in? && current_student.courses.include?(course) %>
              <%= link_to "View Course", view_course_path(course_id: course.id) %>
            <% end %>
          <% end %>
          <%= link_to "Info", course_path(course)%>
         <% end %>
       </div>
     </div>
   </div>
  <% end %>
</div>
